.dados-pessoais{
    margin-left: 250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    form{
        width: max-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}