@use '../../assets/config/colors.scss' as c;

.input{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 300px;
    margin: 0px 10px;

    .label{
        font-size: 1em;
        font-weight: 700;
        color: c.$grey;
    }

    input{
        margin-top: 5px;
        font-size: 1.3em;
        padding: 10px 10px;
        border: 2px solid c.$grey;
        border-radius: 15px;
        color: c.$grey;
        width: 100%;
        font-weight: 600;
        font-family: 'Montserrat';
        box-sizing: border-box;

        &.error{
            border: 2px solid c.$red;
        }
    }
}