@use '../../assets/config/colors.scss' as c;

.confirmacao{
    margin-left: 250px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;

    .content-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;

        .infos-container{
            padding: 20px;
            border-radius: 15px;

            margin-right: 10px;
            margin-left: auto;
        }

        .planos-container{
            margin-left: 10px;
            width: 500px;
            display: grid;
            grid-template-rows: 1fr max-content;
    
            .top-container{
                display: grid;
                grid-template-columns: 50% 50%;
                align-items: center;
    
                img{
                    width: 100%;
                }
    
                .plano-stats{
                    text-align: start;
                    color: c.$red;
                    font-weight: 600;
                    margin-right: 20px;
    
                    .assinatura{
                        font-size: 2.3em;
                        font-weight: 700;
                        margin-bottom: 10px;
                    }
                    .desc{
                        margin-top: 10px;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}

//---BREAKPOINTS---
@media (max-width: 1400px){
    .confirmacao{
        font-size: 0.8em;
        .content-container{
            .planos-container{
                width: 400px;
            }
        }
    }
}
@media (max-width: 1150px){
    .confirmacao{
        font-size: 1em;
        justify-content: flex-start;
        align-items: center;
        .title{
            margin: 50px 0px 50px 0px;
        }
        .content-container{
            display: flex;
            flex-direction: column;
            .planos-container{
                width: 500px;
                margin: 0px;
                margin-bottom: 50px;
                .top-container{
                    margin-bottom: 20px;
                }
            }
            .infos-container{
                margin: 0;
                margin-bottom: 50px;
                width: 500px;
                padding: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                .row{
                    margin: 10px 0px;
                }
            }
        }
    }
}
@media (max-width: 1000px){
    .confirmacao{
        margin: 0;
        margin-top: 80px;
    }
}

@media (max-width: 700px){
    .confirmacao{
        font-size: 0.8em;
        .content-container{
            width: 90vw;
            .infos-container{
                width: 100%;
            }
            .planos-container{
                width: 100%;
            }
        }
        .row{
            margin: 0;
            button{
                width: 140px !important;
            }
        }
    }
}

@media (max-width: 410px){
    .confirmacao{
        .content-container{
            .infos-container{
                font-size: 0.8em;
                .row{
                    margin: 2px;
                    .display{
                        margin: 0;
                    }
                }
            }
        }

    }

}