@use '../../assets/config/colors.scss' as c;

aside{
    background-color: c.$red;
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    height: 100vh;
    padding: 30px 10px;
    box-sizing: border-box;
    
    img{
        max-width: 50%;
        margin-bottom: 50px;
    }

    .steps-container{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        
        .step{
            display: flex;
            justify-content: center;
            align-items:center;
            text-align: center;
            margin: 10px 0px;
            font-weight: 700;
            font-size: 1.3em;
            color: rgba(255, 255, 255, 0.404);

            .num{
                width: 32px;
                height: 32px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: rgba(255, 255, 255, 0.404);
                border-radius: 50px;
                color: c.$red;
                margin-right: 10px;
            }

            &.animation{
                color: #fff;
                .num{
                    background-color: #fff;
                }
            }
            &.active{
                color: #fff;
                .num{
                    background-color: #fff;
                }
            }
        }

        .bar-container{
            width: 2px;
            height: 12vh;
            margin: 0px 15px;

            .bar{
                background-color: #fff;
                width: 100%;

                &.animation{
                    animation: progress-bar 2s infinite ease-in-out;
                }
                &.active{
                    height: 100%;
                }
            }

            &.animation{

            }
            
            &.active{

            }
        }
    }

    .progress-circle{
        position: absolute;
        top: 10px;
        left: 260px;
        width: 50px;
        height: 50px;
        .white-pc{
            display: none;
        }
    }
}

@keyframes progress-bar {
    0%{
        height: 0px;
    }
    70% {
        height: 100%;
    }
    100% {
        height: 0px;
    }
}

//---BREAKPOINTS
@media (max-width: 1000px){
    aside{
        height: 100px;
        width: 100vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 5px 20px;

        img{
            width: 85px;
            height: 71px;
            margin: 0;
            margin-right: 50px;
        }

        .steps-container{
            flex-direction: row;
            align-items: center;

            .step{
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 150px;
                .text{
                    font-size: 0.8em;
                }
                .num{
                    margin: 0px;
                    margin-bottom: 5px;
                }
            }
            .bar-container{
                transform: rotate(-90deg) translateX(10px);
                margin: 0px;
            }
        }

        .progress-circle{
            top: 110px;
            left: 10px;
        }
    }
}

@media (max-width: 790px){
    aside{
        .steps-container{
            .step{
                width: max-content;
                .text{
                    display: none;
                }
            }
            .bar-container{
                height: 50px;
                margin: 0px 23px;
                transform: rotate(-90deg) translateX(2px);
            }
        }
    }
}

@media (max-width: 500px){
    aside{
        img{
            margin: 0px auto;
        }
        .steps-container{
            width: 0px;
            .step{
                width: max-content;
                .num{
                    display: none;
                }
            }
            .bar-container{
                display: none;
            }
        }
        .progress-circle{
            top: 25px;
            left: 10px;
            .white-pc{
                display: block;
            }
            .red-pc{
                display: none;
            }
        }
    }
}
