.localizacao{
    margin-left: 250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

//---BREAKPOINT---
@media (max-width: 1000px){
    .localizacao{
        margin: 0px;
        margin-top: 80px;
        .title{
            margin-bottom: 20px;
        }
    }
}

@media (max-width: 650px){
    .localizacao{        
        button{
            width: 200px !important;
        }
    }
}

@media (max-width: 550px){
    .localizacao{   
        font-size: 0.8em;

        .title{
            margin-top: 100px;
            margin-bottom: 0px;
        }
        form{
            width: 100%;        
            .row{
                flex-direction: column;
                width: 80%;
                padding: 0px 10px;
                &.always{
                    flex-direction: row;
                }
                .input{
                    width: 100% !important;
                }
            }
            button{
                width: 200px !important;
                margin-top: 0px;
            }
        }
    }
}